

@import "tailwindcss"; 
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
  width: 6px;
}

/* Remove number input arrows */
::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Scrollbar Thumb - Solid Accent */
::-webkit-scrollbar-thumb {
  background: #E45A92; 
  border-radius: 10px;
}


/* Loader */
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(closest-side at calc(100%/6) 50%, #E45A92 90%, #3E1E68 100%) 0/75% 100%;
  position: relative;
  animation: l15-0 1s infinite linear;
}

.loader::before {
  content:"";
  position: absolute;
  background: inherit;
  clip-path: inset(0 0 0 50%);
  inset: 0;
  animation: l15-1 0.5s infinite linear;
}

@keyframes l15-0 { 
  0%,49.99% {transform: scale(1)}
  50%,100%  {transform: scale(-1)} 
}

@keyframes l15-1 { 
  0%       {transform: translateX(-37.5%) rotate(0turn)} 
  80%,100% {transform: translateX(-37.5%) rotate(1turn)} 
}

/* Theme Variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Colors reused from CSS variables */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-popover: var(--popover);
}

/* Light Mode */
:root {
  --radius: 0.625rem;

  --background: #3E1E68;
  --foreground: #ffffff;

  --card: #5D2F77;
  --card-foreground: #ffffff;

  --popover: #5D2F77;
  --popover-foreground: #ffffff;

  --primary: #E45A92;
  --primary-foreground: #ffffff;

  --secondary: #FFACAC;
  --secondary-foreground: #3E1E68;

  --accent: #E45A92;
  --accent-foreground: #ffffff;

  --muted: #5D2F77;
  --muted-foreground: #ffffff;

  --border: #5D2F77;
  --input: #5D2F77;
  --ring: #E45A92;

  --chart-1: #E45A92;
  --chart-2: #FFACAC;
  --chart-3: #5D2F77;
  --chart-4: #3E1E68;
  --chart-5: #ffffff;
}

/* Dark Mode */
.dark {
  --background: #3E1E68;
  --foreground: #ffffff;

  --card: #5D2F77;
  --card-foreground: #ffffff;

  --popover: #5D2F77;
  --popover-foreground: #ffffff;

  --primary: #E45A92;
  --primary-foreground: #ffffff;

  --secondary: #FFACAC;
  --secondary-foreground: #3E1E68;

  --accent: #E45A92;
  --accent-foreground: #ffffff;

  --muted: #5D2F77;
  --muted-foreground: #ffffff;

  --border: #5D2F77;
  --input: #5D2F77;

  --ring: #E45A92;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
